.descript-card-container {
  width: 404px;
  height: 619px;
  background-color: white;
  border-radius: 12px;

  overflow: hidden;
}

.img-container {
  position: relative;
  width: 100%;
}
.img-container img {
  width: 100%;
}

.img-title {
  text-align: center;
  width: 80%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 28px;
}

.descript-price-container h2 {
  text-align: center;
  font-size: 36px;
}

.descript-text-container {
  display: flex;
  padding: 10px 0 10px 20px;
}

.descript-text {
  margin: 0 5px 0 10px;
}

@media only screen and (max-width: 640px) {
  .descript-card-container {
    width: 90%;
    height: auto;
  }
}
