.descript-card-container {
  width: 404px;
  height: 619px;
  background-color: white;
  border-radius: 12px;
  text-align: center;
  overflow: hidden;
}

.img-container {
  position: relative;
}

.img-title {
  width: 80%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 28px;
}

.descript-price-container h2 {
  font-size: 36px;
}

.descript-text-container {
  display: flex;
  padding: 10px 0 10px 40px;
}

.descript-text {
  margin: 0 0 0 10px;
}
