.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 220px);
  justify-items: center;
  align-items: center;
}

.infocard-container {
  width: 280px;
  height: 200px;
  display: flex;
  align-items: flex-start;
}

.infocard-text {
  padding: 25px 0 0 0;
}
.infocard-text h3 {
  font-size: 16px;
}
.divider {
  height: 10px;
}
.infocard-text span {
  font-size: 14px;
}

@media only screen and (max-width: 940px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 250px);
  }
}
@media only screen and (max-width: 640px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, 250px);
  }
  .infocard-container {
    width: 90%;
  }
}
